* {
  margin: 0;
  padding: 0;
}

#subscription {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url("/img/header.jpg");
  background-size: cover;
  height: 60vh;
  justify-content: space-around;
  align-items: center;
}

.subscription-text {
  display: flex;

}

.subscription-form {
/*   flex: 50%; */
  padding: 20px;

  background-color: blue;
}

